.awlad{
position: absolute;
left: 150px;
top: 50px;
}
.resume{
position: absolute;
left: 1046px;
top: 38px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
padding: 17px 24px 17px 24px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
}
.frist{
    margin-bottom: 100px;
}
.second{
    background-image: url('../images/Hero-bg.png');
position: absolute;
width: 1440px;
height: 652px;
top: 131px;
bottom: 4462px;
}
.img{
position: absolute;
left: 600px;
top: 80px;
}
.future{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
text-align: center;
margin-top: 350px;
}
.lorem{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
text-align: center;
opacity: 0.7;

}
.btn{
    border-radius: 8px;
background: rgb(13, 19, 33);
width: 244px;
height: 65px;
justify-content: center;
padding: 21px 24px 21px 24px;
margin: 32px 600px;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
text-align: center;
}
.second-section{
    margin: 900px 200px 0 ;
    background-color: rgb(249, 250, 215);
}
.why{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
text-align: center;
}
.coding{
width: 850px;
height: 240px;
display: flex;
justify-content: space-between;
margin: 50px 100px;
}
.will{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.bttn{
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: center;

}
.to-section{
    background-color: aliceblue;
    margin-left: 200px;
    margin-right: 200px;
    height: 600px;
    
}
.help{
width: 477px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin: 10px 32px;
}
.Inspiration{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
text-align: center;
}
.center{
margin-left: 220px;
margin-top: 50px;

}
.current{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.more{
    display: flex;
    margin: 100px 250px;
}
.html{
padding: 50px;
margin: 0px 24px;
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
}
.css{
    padding: 50px;
margin: 0px 24px;
border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
}
.java{
    padding: 50px;
margin: 0px 24px;
    border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}
.text{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}

.react{
    display: flex;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);
gap: 32;
padding: 40px;
margin: 10px 24px;
}
.simply{
    margin-left: 30px;
}
.section-fourth{
    background-image: url('../images/handshake.jpg');
    border-radius: 16px;
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
width: 1400px;
height: 313px;
margin-left: 20px;
}

.need{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}
.Ipsum{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
}
.bttne{
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
width: 548px;
height: 57px;
}
.submit{
    border-radius: 8px;
background: rgb(255, 255, 255);
width: 120px;
height: 57px;
}
.any{
    margin-left: 340px;
    margin-top: 40px;
}
.dummy{
    padding-top: 30px;
}
.fith-section{
    width: 1440px;
height: 100px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
background-color: azure;
margin-top: 50px;

}
.open{
    display: flex;
    margin-left:100px;
    padding-top: 25px;
}
.commitment{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
}
.images{
    padding-left: 800px;
   padding-top: 10px;
}
.scr{
    padding-right: 15px;
}
    